<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <style>
       body {
         background-image: url("static/images/background.jpg");
         background-size: cover;
         background-repeat: no-repeat;
       }
     </style>
  </head>
  <body>
    <div class="container">
      <h1>Development of Visualisations for Leicester City</h1>
      <p>Please login to continue</p>
      <div class="button-container">
        <a href="{{ url_for('login') }}" class="btn btn-primary"style="margin-bottom: 10px;">Login</a>
        <a href="{{ url_for('signup') }}" class="btn btn-primary"style="margin-bottom: 10px;">Sign Up</a>
        
        
      </div>
    </div>
  </body>
</html>
