<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <style>
       body {
         background-image: url("static/images/background.jpg");
         background-size: cover;
         background-repeat: no-repeat;
       }
     </style>
  </head>
  <body>
    <div class="container">
      <h1>Strategic Cordon Survey Visualization</h1>
       <a href="{{ url_for('home') }}" class="btn btn-primary"style="margin-bottom: 10px;">Home</a>
       <a href="{{ url_for('login') }}" class="btn btn-primary"style="margin-bottom: 10px;">Logout</a>
       <a href="{{ url_for('filterpageage2') }}" class="btn btn-primary"style="margin-bottom: 10px;">Back</a>
    </div>
    <div>
      <table>
        <tr>
          <td><img class="img-size" src="{{ url_for('static', filename='images/vehicle_type_scatter1.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/vehicle_type_scatter3.png') }}"></td>
           <td><img class="img-size" src="{{ url_for('static', filename='images/vehicle_type_hist2009.png') }}"></td>
           <td><img class="img-size" src="{{ url_for('static', filename='images/vehicle_type_histogram.png') }}"></td>
          
        </tr>
       
      </table>
    </div>
     
  </body>
</html>
