<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <style>
       body {
         background-image: url("static/images/background.jpg");
         background-size: cover;
         background-repeat: no-repeat;
       }
     </style>
  </head>
  <body>
    <div class="container">
      <h1>Claimant Count Age & Sex Visualization</h1>
      <a href="{{ url_for('home') }}" class="btn btn-primary"style="margin-bottom: 10px;">Home</a>
      <a href="{{ url_for('login') }}" class="btn btn-primary"style="margin-bottom: 10px;">Logout</a>
      <a href="{{ url_for('filterpageage') }}" class="btn btn-primary"style="margin-bottom: 10px;">Back</a>
    </div>
    <div>
      <table>
        <tr>
          <td><img class="img-size" src="{{ url_for('static', filename='images/Age_Group_location1.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/Age_Group1.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/age_scatter1.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/claimant_rate1.png') }}"></td>
        </tr>
        <tr>
          <td><img class="img-size" src="{{ url_for('static', filename='images/gender_distribution1.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/histogram1.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/population1.png') }}"></td>         
          <td></td>
        </tr>
      </table>
    </div>     
  </body>
</html>
