<!DOCTYPE html>
<html>
  <head>
    <title>covid-19-mortality</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <style>
       body {
         background-image: url("static/images/background.jpg");
         background-size: cover;
         background-repeat: no-repeat;
       }
     </style>
  </head>
  <body>
    <div class="container">
      <h1>Covid-19 Mortality Rate</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="post">
        <div class="form-group">
          <label for="keyword">Month</label>
          <input type="text" id="keyword" name="keyword" class="form-control">
          <label for="year">Year</label>
          <input type="text" id="year" name="year" class="form-control">
          
        </div>
       
        <button type="submit" class="btn btn-primary">search</button>
      </form>
      <p>     </p>
      <a href="{{ url_for('welcome') }}" class="btn btn-primary"style="margin-bottom: 10px;">Back</a>
    </div>
  </body>
</html>
