<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <style>
       body {
         background-image: url("static/images/background.jpg");
         background-size: cover;
         background-repeat: no-repeat;
       }
     </style>
  </head>
  <body>
    <div class="container">
      <h1>Twitter Visualization and Sentiment Analysis</h1>
       <a href="{{ url_for('home') }}" class="btn btn-primary"style="margin-bottom: 10px;">Home</a>
       <a href="{{ url_for('login') }}" class="btn btn-primary"style="margin-bottom: 10px;">Logout</a>
       <a href="{{ url_for('filterpage') }}" class="btn btn-primary"style="margin-bottom: 10px;">Back</a>
    </div>
    
    <div>
      <table>
        <tr>
          <td><img class="img-size" src="{{ url_for('static', filename='images/imgg1.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/imgg2.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/imgg3.png') }}"></td>
          <td><img class="img-size" src="{{ url_for('static', filename='images/imgg4.png') }}"></td>
            
        </tr>
         <tr>
           <td><img class="img-size" src="{{ url_for('static', filename='images/imgg5.png') }}"></td>
           <td><img class="img-size" src="{{ url_for('static', filename='images/imgg6.png') }}"></td>
           <td><img class="img-size" src="{{ url_for('static', filename='images/imgg7.png') }}"></td>
           <td><img class="img-size" src="{{ url_for('static', filename='images/imgg8.png') }}"></td>
             
         </tr>
         <tr>
           <td><img class="img-size" src="{{ url_for('static', filename='images/imgg9.png') }}"></td>
           <td><img class="img-size" src="{{ url_for('static', filename='images/imgg10.png') }}"></td>
           <td><img class="img-size" src="{{ url_for('static', filename='images/imgg11.png') }}"></td>
           <td><img class="img-size" src="{{ url_for('static', filename='images/imgg12.png') }}"></td>
             
         </tr>
          <tr>
            <td><img class="img-size" src="{{ url_for('static', filename='images/imgg13.png') }}"></td>
            <td><img class="img-size" src="{{ url_for('static', filename='images/imgg14.png') }}"></td>
            <td><img class="img-size" src="{{ url_for('static', filename='images/imgg15.png') }}"></td>
            <td><img class="img-size" src="{{ url_for('static', filename='images/imgg16.png') }}"></td>
              
          </tr>
        
        
        
      </table>
    </div>
     
  </body>
</html>
